{
    "extends": "airbnb", // 按照爱比邻规范来，他们react规范做的比较好
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6, // 支持es6
        "sourceType": "module" // 支持模块化
    },
    "env": {
        "browser": true, // 支持浏览器环境，比如写出了window不要报错
        "node": true, // 有可能会写出process这样的，也不希望报错
        "es6": true // 看到es6也不要报错
    },
    "rules": {
        "semi": [0], // 0 代表不检查分号
        "react/jsx-filename-extension": [0], // JSX not allowed in files with extension '.js'
        "no-console": [0],
        "jsx-a11y/click-events-have-key-events": [0],
        "jsx-a11y/no-static-element-interactions": [0],

    }
}
