{
  "extends": "airbnb", // 按照爱比邻规范来，他们react规范做的比较好
  "parser": "babel-eslint", // 配合babel 或则 webpack 都需要 babel-eslint,否则一些babel的语法（es6)不认识
  "parserOptions": {
    "ecmaVersion": 6, // 支持es6
    "sourceType": "module", // 支持模块化
    "ecmaFeatures": { // 使用decorator时候，export default+decorator报错，配置这里就ok
      "legacyDecorators": true,
    }
  },
  "env": {
    "browser": true, // 支持浏览器环境，比如写出了window不要报错
    "node": true, // 有可能会写出process这样的，也不希望报错
    "es6": true // 看到es6也不要报错
  },
  "rules": {
    "semi": [
      0
    ], // 0 代表不检查分号
    "react/jsx-filename-extension": [
      0
    ], // JSX not allowed in files with extension '.js'
    "no-console": [
      0
    ],
    "jsx-a11y/click-events-have-key-events": [
      0
    ],
    "jsx-a11y/no-static-element-interactions": [
      0
    ],
    "react/require-default-props": [
      0
    ],
    "react/destructuring-assignment": [
      0
    ],
    "react/forbid-prop-types": [ // prop-types 可以为 object
      0
    ],
  }
}
